{{- /* SEO framework. Fill in `[params.seo]` / front matter to complete the uncertain fields. */}}
{{- $seo := site.Params.seo | default dict }}
{{- $desc := .Description | default $seo.description | default "" }}
{{- $image := .Params.ogImage | default $seo.image | default "" }}
{{- $canonical := .Permalink }}
{{- $ogTitle := .Title }}
{{- if .IsHome }}{{- $ogTitle = site.Title }}{{- end }}
{{- $ogType := .Params.ogType | default "website" }}
{{- $robots := $seo.robots | default "index, follow" }}
{{- $lang := .Params.ogLocale | default $seo.ogLocale | default site.Language.LanguageCode }}
{{- $author := site.Params.author | default "" }}

{{- /* Basic meta. */}}
{{- with $desc }}
  <meta name="description" content="{{ . }}" />
{{- end }}
{{- with $seo.keywords }}
  <meta name="keywords" content="{{ delimit . `, ` }}" />
{{- end }}
{{- with $robots }}
  <meta name="robots" content="{{ . }}" />
{{- end }}
<link rel="canonical" href="{{ $canonical }}" />

{{- /* Open Graph. */}}
<meta property="og:title" content="{{ $ogTitle }}" />
<meta property="og:type" content="{{ $ogType }}" />
<meta property="og:url" content="{{ $canonical }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
{{- with $lang }}
  <meta property="og:locale" content="{{ . }}" />
{{- end }}
{{- with $desc }}
  <meta property="og:description" content="{{ . }}" />
{{- end }}
{{- with $image }}
  <meta property="og:image" content="{{ . | absURL }}" />
{{- end }}

{{- /* Twitter Card. */}}
<meta name="twitter:card" content="{{ $seo.twitterCard | default `summary` }}" />
<meta name="twitter:title" content="{{ $ogTitle }}" />
{{- with $desc }}
  <meta name="twitter:description" content="{{ . }}" />
{{- end }}
{{- with $image }}
  <meta name="twitter:image" content="{{ . | absURL }}" />
{{- end }}

{{- /* Structured data (JSON-LD). */}}
{{- $ld := dict "@context" "https://schema.org" }}
{{- if .IsPage }}
  {{- $ld = merge $ld (dict "@type" "BlogPosting" "headline" .Title "mainEntityOfPage" (dict "@type" "WebPage" "@id" $canonical)) }}
  {{- with .Date }}{{- $ld = merge $ld (dict "datePublished" (.Format "2006-01-02T15:04:05-07:00")) }}{{- end }}
  {{- with .Lastmod }}{{- $ld = merge $ld (dict "dateModified" (.Format "2006-01-02T15:04:05-07:00")) }}{{- end }}
  {{- with $author }}{{- $ld = merge $ld (dict "author" (dict "@type" "Person" "name" .)) }}{{- end }}
  {{- with $desc }}{{- $ld = merge $ld (dict "description" .) }}{{- end }}
  {{- with $image }}{{- $ld = merge $ld (dict "image" (. | absURL)) }}{{- end }}
{{- else }}
  {{- $ld = merge $ld (dict "@type" "WebSite" "name" site.Title "url" site.BaseURL) }}
{{- end }}
<script type="application/ld+json">
  {{- $ld | jsonify | safeJS }}
</script>
