#TableOfContents {
  --toc-font-size: 0.875rem;
  --toc-line-height: 1.5;
  --toc-padding-block: 0.25rem;
  --toc-padding-inline: 0.5rem;
  --toc-marker-width: 0.125rem;
  --toc-indent-step: calc(var(--toc-padding-inline) + var(--toc-marker-width))
}

#TableOfContents li > :where(ul, ol) {
  padding-inline-start: var(--toc-padding-inline);
}

#TableOfContents a {
  display: block;
  color: var(--theme-muted);
  border-inline-start: var(--toc-marker-width) solid transparent;
  font-size: var(--toc-font-size);
  line-height: var(--toc-line-height);
  overflow-wrap: break-word;
  padding-block: var(--toc-padding-block);
  padding-inline: var(--toc-padding-inline);
  transition-property: color, border-color;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
}

#TableOfContents a[data-toggled] {
  color: var(--theme-accent);
  border-inline-start-color: var(--theme-accent);
}

#TableOfContents a:hover {
  @media (hover: hover) {
    color: var(--theme-accent);
  }
}
