#TableOfContents {
  --toc-font-size: 0.875rem;
  --toc-line-height: 1.5;
  --toc-padding-block: 0.25rem;
  --toc-padding-inline: 0.5rem;
  --toc-marker-width: 2px;
  --toc-indent-step: calc(var(--toc-padding-inline) + var(--toc-marker-width));
}

#TableOfContents li > :where(ul, ol) {
  padding-inline-start: var(--toc-padding-inline);
}

#TableOfContents a {
  display: block;
  position: relative;
  color: var(--theme-muted);
  font-size: var(--toc-font-size);
  line-height: var(--toc-line-height);
  overflow-wrap: break-word;
  padding-block: var(--toc-padding-block);
  padding-inline-start: var(--toc-indent-step);
  padding-inline-end: var(--toc-padding-inline);
  transition-property: color var(--default-transition-duration) var(--default-transition-timing-function);
}

#TableOfContents a::before {
  content: "";
  display: block;
  position: absolute;
  inset-block: var(--toc-padding-block);
  inset-inline-start: 0;
  inline-size: var(--toc-marker-width);
  transition: background-color var(--default-transition-duration) var(--default-transition-timing-function);
}

#TableOfContents a[data-toggled] {
  color: var(--theme-accent);
}

#TableOfContents a[data-toggled]::before {
  background-color: var(--theme-accent);
}

#TableOfContents a:hover {
  @media (hover: hover) {
    color: var(--theme-accent);
  }
}
