{{- $page := . }}
{{- $author := $page.Params.author | default site.Params.author | default "Anonymous" }}
{{- $dateHuman := $page.Date | time.Format "2006-01-02" }}
{{- $dateMachine := $page.Date | time.Format "2006-01-02T15:04:05-07:00" }}
<div class="group">
  <a href="{{ $page.RelPermalink }}" class="card min-h-48 px-4 desktop:h-56 desktop:min-h-0 py-3.5 flex-col">
    <div class="flex-1">
      <p class="meta-text desktop:line-clamp-5 line-clamp-4 wrap-break-word">
        {{- with $page.Description }}
          {{ . }}
        {{- else }}
          {{ $page.Plain | truncate 160 }}
        {{- end }}
      </p>
    </div>
    <hr class="bg-border my-2.5 h-px flex-none border-0" />
    <h3 class="mb-1 text-base text-fg font-semibold truncate">
      {{ $page.Title }}
    </h3>
    <div class="meta-info text-13 gap-2">
      <span class="align_by_flex gap-0.75 min-w-0"
        ><i class="ti ti-user"></i><span class="truncate">{{ . }}</span></span
      >
      <span class="align_by_flex gap-0.75 flex-none"
        ><i class="ti ti-calendar"></i><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></span
      >
    </div>
  </a>
</div>
