{{- $page := . }}
{{- $author := $page.Params.author | default site.Params.author | default "" }}
{{- $date := $page.Date | time.Format "2006-01-02" }}
<div class="group">
  <a href="{{ $page.RelPermalink }}" class="card min-h-44 px-4 sm:h-60 sm:min-h-0 py-3.5 flex-col">
    <div class="flex-1">
      <p class="meta-text sm:line-clamp-5 leading-normal line-clamp-4 wrap-break-word">
        {{- with $page.Description }}
          {{ . }}
        {{- else }}
          {{ $page.Plain | truncate 160 }}
        {{- end }}
      </p>
    </div>
    <hr class="bg-border my-2.5 h-px flex-none border-0" />
    <h3 class="mb-1 text-base text-fg font-semibold line-clamp-1">
      {{ $page.Title }}
    </h3>
    <p class="meta-text-small gap-2 flex flex-wrap">
      {{- with $author }}
        <span class="gap-0.75 flex items-center"><i class="bi bi-person"></i>{{ . }}</span>
      {{- end }}
      <span class="gap-0.75 flex items-center"><i class="bi bi-calendar3"></i>{{ $date }}</span>
    </p>
  </a>
</div>
