{{/* Cloud layout: terms sorted by post count */ -}}

{{ $pillCls := delimit (slice
  "border-border bg-bg gap-1.25 h-9 px-3.5 py-1.5 text-14 flex items-center rounded-full border"
  "group-hover:bg-accent-subtle group-hover:border-accent group-hover:text-accent group-hover:-translate-y-px"
  "transition-[background-color,border-color,color,translate,transform] will-change-transform"
  ) " "
-}}

{{ $orderedTaxon := .Data.Terms.ByCount -}}
{{ $sorted := slice -}}
{{ range $orderedTaxon -}}
  {{ $sorted = $sorted | append .Page -}}
{{ end -}}

{{ $paginator := partial "helpers/funcs/paginate.html" (dict "page" . "pages" $sorted "config" "cloud") -}}
<div class="mbs-10 flex-1">
  <div class="gap-2.5 flex flex-wrap">
    {{ range $paginator.Pages -}}
      {{/* `min-w-0` should be added to the flex item. */ -}}
      <div class="group min-w-0">
        <a href="{{ .RelPermalink }}" class="{{ $pillCls }}">
          <i class="ti ti-tag"></i>
          <span class="truncate">{{ .LinkTitle }}</span>
          <span class="text-muted text-13 group-hover:text-accent transition-[color]">{{ .Pages.Len }}</span>
        </a>
      </div>
    {{ end -}}
  </div>
</div>
{{ partial "layouts/default/pagination.html" . -}}
