{{- define "main" }}
  <section class="hero-page justify-start">
    {{ partial "avatar.html" . }}
    <h1 class="font-bold text-40">{{ .Title }}</h1>
    {{- with site.Params.aboutItems }}
      <div class="mt-6 max-w-160 gap-2.5 mx-auto flex w-full flex-col text-left">
        {{- range $i, $item := . }}
          <div class="accordion">
            <button type="button" class="accordion-head">
              <span>{{ $item.title }}</span>
              <i class="accordion-chevron bi bi-chevron-down"></i>
            </button>
            <div class="accordion-body">
              <div class="post-content text-muted! pb-4 px-4.5">{{ $item.content | markdownify }}</div>
            </div>
          </div>
        {{- end }}
      </div>
    {{- end }}
    {{- with .Content }}
      <div class="post-content">{{ . }}</div>
    {{- end }}
  </section>
{{- end }}
