<!doctype html>
{{ $lang := site.Language.Locale | default "en" -}}
{{ $dir := site.Language.Direction | default "ltr" -}}
{{ $title := site.Title -}}
{{ if .IsHome -}}
  {{ $title = printf "%s | %s" .Title $title -}}
{{ end -}}
<html lang="{{ $lang }}" dir="{{ $dir }}">
  <head>
    {{ partialCached "layouts/head.html" . -}}
    <title>{{ $title }}</title>
  </head>
  <body>
    {{ partial "layouts/sidebar.html" . -}}
    <div class="lg:ms-sidebar">
      {{/* max-w + mx-auto: center the layout and keep it from over-expanding. */ -}}
      <div class="max-w-300 min-w-80 mx-auto flex min-h-dvh flex-col">
        <header>
          {{ partialCached "layouts/header.html" . -}}
        </header>
        {{/* Reduce vertical padding for the main content on mobile. */ -}}
        <main class="px-6 py-4 sm:py-8 flex flex-1 flex-col">
          {{ block "main" . -}}
          {{ end -}}
        </main>
        <footer class="mt-10 mb-12 text-14 text-muted text-center wrap-break-word">
          {{ partialCached "layouts/footer.html" . -}}
        </footer>
      </div>
    </div>
  </body>
</html>
