<!doctype html>
<html lang="{{ site.Language.Locale | default `en` }}" dir="{{ site.Language.Direction | default `ltr` }}">
  <head>
    {{ partialCached "layouts/head/head.html" . -}}
    <title>
      {{- partial "layouts/head/title.html" . -}}
    </title>
  </head>
  <body>
    {{ partial "layouts/sidebar.html" . -}}
    {{/* Left margin = sidebar width = 19/4 rem (= 11/4 button + 2 = 15/4 avatar + 1). */ -}}
    <div class="sidebar:ml-19">
      {{/* Min width = 86/4 rem = 86/4 × 14px ~= 300px. */ -}}
      {{/* Max width = 1100px = 275/4 rem. */ -}}
      {{/* max-w + mx-auto: center the layout and keep it from over-expanding. */ -}}
      <div class="max-w-275 min-w-86 mx-auto flex min-h-dvh flex-col">
        <header>
          {{ partialCached "layouts/header.html" . -}}
        </header>
        {{/* Reduce vertical padding for the main content on mobile. */ -}}
        <main class="px-6 py-4 desktop:py-8 flex flex-1 flex-col">
          {{ block "main" . -}}
          {{ end -}}
        </main>
        <footer class="mt-10 mb-12 text-14 text-muted text-center wrap-break-word">
          {{ partialCached "layouts/footer.html" . -}}
        </footer>
      </div>
    </div>
  </body>
</html>
