{{- define "main" }}
  {{- $blogName := site.Params.blogName | default site.Title }}
  {{- $intro := site.Params.intro | default "" }}
  <section class="gap-5 px-4 pt-10 pb-4 flex flex-1 flex-col items-center justify-center text-center">
    {{ partial "avatar.html" . }}
    <h1 class="m-0 font-bold text-4xl">{{ $blogName }}</h1>
    {{- with $intro }}
      <p class="text-muted max-w-160 mx-auto">{{ . }}</p>
    {{- end }}
    {{ partial "social.html" . }}
    {{- with .Content }}
      <div class="post-content">{{ . }}</div>
    {{- end }}
  </section>
{{- end }}
