{{ define "main" -}}
  {{ partial "layouts/front.html" (dict "title" .Title) -}}
  {{ partial "layouts/article/meta.html" . -}}
  {{/* Two columns when possible: content next to the bulletins; a single stack on narrow screens. */ -}}
  <article class="mt-10 gap-10 sidebar:grid-cols-[minmax(0,1fr)_260px] grid flex-1 grid-cols-1 content-start">
    <div class="post-content">{{ .Content }}</div>
    {{ partial "layouts/article/bulletins.html" . -}}
  </article>
  {{/* Navigate previous/next. */ -}}
  {{ partial "layouts/article/bottom-nav.html" . -}}
  {{ partial "helpers/math.html" . -}}
{{ end -}}
