{{ define "main" -}}
  {{ $singular := .Data.Singular -}}
  {{ $plural := .Data.Plural -}}
  {{/* Users can change layouts of custom taxonomies by setting param taxonomyLayout.<taxon>. */ -}}
  {{ $layout := index site.Params.taxonomyLayout $singular -}}
  {{ if and (ne $layout "grid") (ne $layout "cloud") -}}
    {{/* Layout fallbacks: category -> grid; tag (and others) -> cloud. */ -}}
    {{ $layout = cond (eq $singular "category") "grid" "cloud" -}}
  {{ end -}}

  {{/* Grid: N categories &middot; M entries */ -}}
  {{/* Cloud: N tags */ -}}
  {{ $taxonObj := .Data.Terms -}}
  {{ $termCount := len $taxonObj -}}
  {{ $taxonName := cond (eq $termCount 1) $singular $plural -}}
  {{ $desc := printf "%d %s" $termCount $taxonName -}}
  {{ $pageCount := 0 -}}
  {{ range $taxonObj -}}
    {{ $pageCount = add $pageCount (len .Pages) -}}
  {{ end -}}
  {{ if eq $layout "grid" -}}
    {{ $desc = (printf "%s &middot; %s" $desc (i18n "entryCount" (dict "Count" $pageCount))) | safeHTML -}}
  {{ end -}}
  {{ partial "layouts/front.html" (dict "title" .Title "desc" $desc) -}}

  {{ if eq $layout "grid" -}}
    {{ partial "layouts/taxonomy/grid.html" . -}}
  {{ else -}}
    {{ partial "layouts/taxonomy/cloud.html" . -}}
  {{ end -}}
{{ end -}}
