{{ define "main" -}}
  {{/* Tag &middot; N entries */ -}}
  {{ $desc := i18n "entryCount" (dict "Count" .Pages.Len) -}}
  {{ with .Parent -}}
    {{ $tmpl := `<a href="%s">%s</a>` -}}
    {{ $desc = (printf "%s &middot; %s" (printf $tmpl .RelPermalink .LinkTitle) $desc) | safeHTML -}}
  {{ end -}}
  {{ partial "layouts/front.html" (dict "title" .Title "desc" $desc) -}}

  {{ $paginator := partial "helpers/funcs/paginate.html" (dict "page" . "config" "grid") -}}
  <div class="mt-10">
    {{ range $paginator.Pages.GroupByDate "2006" -}}
      {{ partial "layouts/items/card-grid.html" (dict "title" .Key "pages" .Pages.ByDate.Reverse) -}}
    {{ end -}}
  </div>
  {{ partial "layouts/pagination.html" . -}}
{{ end -}}
