{{ $profileCls := delimit (slice
  "bg-bg p-1 size-35 hover:shadow-accent-veil hover:shadow-lg border-accent rounded-full border-4"
  "hover:scale-105 transition-[transform,scale,box-shadow] will-change-transform"
  ) " "
-}}


<section class="pbs-10 flex flex-1 flex-col items-center justify-center">
  {{/* Round avatar on hero page, linking to home. */ -}}
  {{ $blogName := site.Params.blogName | default site.Title | default "Unnamed" -}}
  <a class="{{ $profileCls }}" href="{{ `` | relLangURL }}" title="{{ $blogName }}">
    {{ with site.Params.avatar -}}
      <img class="rounded-full object-cover select-none" src="{{ . | relURL }}" alt="{{ $blogName }}" />
    {{ end -}}
  </a>

  {{- /* Centralized items don't stretch to the flex container, so wrap-break-word takes no effect on them. */ -}}
  {{/* Wraps texts in a limited-width container prevents overflowing. Banner max width: 160/4 rem = 640 px. */ -}}
  <div class="mbs-5 max-w-160 text-center wrap-break-word">
    <h1 class="font-bold text-[2.5rem]">{{ .title }}</h1>
    {{ with .desc -}}
      <p class="mbs-3 text-muted">{{ . }}</p>
    {{ end -}}
  </div>
  {{ templates.Inner .context -}}
</section>
