{{/* Params: */ -}}
{{/* "page": the current page */ -}}
{{/* "menu": menu entry object */ -}}

{{ $pillCls := delimit (slice
  "text-14 flex items-baseline rounded-full border p-px"
  "group-hover:translate-x-1.5 transition-[transform,translate]"
  ) " "
-}}

{{ $page := .page -}}

{{ with .menu -}}
  {{ $icon := .Params.icon | default "link" -}}
  {{/* Whether the current page belongs to the menu entry. */ -}}
  {{ $hl := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) -}}
  {{/* Don't disable the link here! So that we can go back to the top entry. */ -}}
  {{ $hlCls := cond $hl "bg-accent-subtle border-accent text-accent" "bg-bg border-border" -}}

  {{/* Zero-width pin forces entries to expand rightwards like a drawer. */ -}}
  {{/* Alignment uses a negative left margin: half of icon size (5/4rem) + padding (1px) + border (1px). */ -}}
  <div class="w-0">
    {{/* Hover event group to prevent bouncing back. */ -}}
    <div class="group -ms-[(1.25rem+2px)] size-fit">
      <a href="{{ .URL }}" class="{{ $pillCls }} {{ $hlCls }}">
        <div class="{{ if not $hl }}text-muted{{ end }} size-10 flex items-center justify-center">
          <i class="ti ti-{{ $icon }}"></i>
        </div>
        {{/* Simulate a drawer by setting max-width; Change opacity for transition effect. */ -}}
        <div class="max-w-0 group-hover:max-w-48 transition-[max-width]">
          <p class="font-medium me-3 truncate">
            {{- .Name -}}
          </p>
        </div>
      </a>
    </div>
  </div>
{{ end -}}
