{{/* Input: the page; Output: card representation of that page. */ -}}

{{/* Only one column in mobile mode, so we give it a flexible height. */ -}}
{{ $surfaceCls := delimit (slice
  "rounded-xl border-border bg-bg px-4 py-3.5 min-h-48 sm:h-56 flex flex-col overflow-hidden border"
  "group-hover:border-accent group-hover:shadow-md group-hover:shadow-accent-veil group-hover:-translate-y-0.5"
  "transition-[border-color,box-shadow,translate,transform] will-change-transform"
  ) " "
-}}
{{ $metaCls := "gap-0.75 flex items-baseline" -}}

{{/* Hover group to prevent bouncing back. */ -}}
<div class="group">
  <a href="{{ .RelPermalink }}" class="{{ $surfaceCls }}" data-url>
    {{/* Snippet is the main part of the card so it should take as much space as possible. */ -}}
    {{/* However, line-clamped elements shouldn't be stretched to hide the clamped data, so */ -}}
    {{/* we give `flex-1` to a wrapper. */ -}}
    <div class="flex-1">
      {{/* Page description when present, otherwise the first 160 chars of the plain text. */ -}}
      <p class="text-muted text-14 sm:line-clamp-5 line-clamp-4 wrap-break-word" data-snippet>
        {{- with .Description -}}
          {{ . -}}
        {{ else -}}
          {{ $.Plain | truncate 160 -}}
        {{ end -}}
      </p>
    </div>
    <hr class="bg-border my-2.5 h-px border-0" />
    <h3 class="mbe-1 text-base font-semibold truncate" data-title>{{ .Title }}</h3>
    {{ $meta := partial "helpers/meta.html" . -}}
    <div class="gap-2 text-muted text-13 flex justify-start">
      <p class="{{ $metaCls }} min-w-0">
        <i class="ti ti-{{ $meta.author.icon }}"></i>
        <span class="truncate" data-author>{{ $meta.author.label }}</span>
      </p>
      {{/* Card is width-limited, to prevent other items from wrapping when the author span gets too long, */ -}}
      {{/* we should give them `flex-none`. */ -}}
      <p class="{{ $metaCls }} flex-none">
        <i class="ti ti-{{ $meta.date.icon }}"></i>
        <span data-date>{{ $meta.date.label }}</span>
      </p>
    </div>
  </a>
</div>
